*.DS_Store
*.properties
*.jar
*.iml
.idea/
**/node_modules/*
**/sample_payload/*
*package-lock.json
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*target/*
*config.json*